<div style="display: flex;
  justify-content: center;
  background-color: DodgerBlue;">
  <div style="
  background-color: #f1f1f100;
  width: 500px;
    height: 500px;
  margin: 70px;
  line-height: 230px;
  align-items: center;
  font-size: 30px;"
class="zoom"
  >
  <a href="/employee">
  <h3 style="text-align: center; text-decoration: none;color: aliceblue" >Add Data</h3>
  <img src="https://img.icons8.com/plasticine/500/000000/upload-2.png"    width="500px" height="500px" /></div>
  </a>
  <div style="
  background-color: #f1f1f100;
  width: 500px;
  height: 500px;
  margin: 70px;
  text-align: center;
  line-height: 230px;
  font-size: 30px;">
  <a href="/list">
  <h3 style="text-align: center; text-decoration: none;color: aliceblue">Get Data</h3>
    <img src="https://img.icons8.com/plasticine/500/000000/download-2.png" width="500px" height="500px" /></div>
</a>
  </div>
</div>